{% extends "base.html" %}
{% load static %}
{% block body %}

<h1>{{question.question}}</h1>
{% comment %} this is the text field  {% endcomment %}
<form method = 'POST'>
    {% csrf_token %}
    {{ tag_form }}
    <input type = "submit" name = 'tag' class= "btn btn-success" value = 'Tag'/>
</form>
{% for tag in tag_list %}
    <li style = 'display:inline' 'list-style-type:none'>{{ tag.name }} | </li>
{% endfor %}
<hr>
<form method = 'POST'>
    {% csrf_token %}
    {{ comment_form }}
    <input type = "submit" name = 'add' class= "btn btn-success" value = 'Add'/>
    
</form>

{% comment %} for looping over the comments and displaying them in a list {% endcomment %}
{% for comment in comment_list %}
<form method = 'POST'>
    {% csrf_token %}
    {% comment %} {{ comment_form }} {% endcomment %}
<li>{{ comment.body}}
<!-- <input type = "submit" name = 'update' value = 'Update'/> -->
<!-- <input type = "submit" name = 'delete' value = 'Delete'/> -->

<td><a href="{% url 'delete' comment.id %}" class="btn btn-danger"> Delete </a></td>
<td><a href="{% url 'comment' comment.id %}" class="btn btn-primary"> Update </a></td></li>
</form>


{% endfor %}
{% endblock %}