{% extends "base.html" %}
{% load static %}
{% block body %}
{% comment %} Formatted to look similar to the landing page {% endcomment %}
<div class="row mb-5" id="resource">
  <div class='col-lg-5 col-12 pt-3 px-4 pr-lg-5 text-center'>
    <img src={% static './images/housingUnit.jpeg' %} alt="Housing Unit" class="imagesForCircle">
  </div>
  <div class="col-lg-7 col-12 pt-lg-3 mb-4 pl-lg-5 px-lg-0 px-4 text-center">
    <h1 id="welcomeHome" class="mt-5 text-primary">Resources Page</h1>
    <hr>
    <div>
      <h4 class="mt-5">Looking for important information, please click our buttons below to help you find it.</h4>
    </div>
    <div class="mt-3 justify-content-between">
      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
        aria-expanded="false" aria-controls="multiCollapseExample1">Resource Guides</a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#multiCollapseExample2"
        aria-expanded="false" aria-controls="multiCollapseExample2">Frequently Asked Questions</a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#multiCollapseExample3"
        aria-expanded="false" aria-controls="multiCollapseExample3">Education</a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#multiCollapseExample4"
        aria-expanded="false" aria-controls="multiCollapseExample4">Housing Unit</a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#multiCollapseExample5"
        aria-expanded="false" aria-controls="multiCollapseExample5">Chow Hall</a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#multiCollapseExample6"
        aria-expanded="false" aria-controls="multiCollapseExample6">Infirmary</a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#multiCollapseExample7"
        aria-expanded="false" aria-controls="multiCollapseExample7">Mental Health</a>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class='col-lg-12 col-12 pt-3 px-4 pr-lg-5 text-center justify-content-between'>
    {% comment %} Toggles for each sub section {% endcomment %}
    {% comment %} When clicked trigger these sections to toggle down with the header included {% endcomment %}
    <div class="col mt-4">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <h1>Resource Guides</h1>
        <div class="card card-body">
          <p>You can download an electronic version for free through their <a href="https://reentryillinois.net">website</a>,
            or you may call(217) 300-5150 or request by email @reentry@educationjustice.net. Or you can request by mail
            to Education Justice Project 1001 S Wright St. Champaign, IL 61820.
          </p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <h1>Frequently Asked Questions</h1>
        <div class="card card-body">
          <h3>Socail Security</h3>
          <p>You can visit the <a href="https://www.ssa.gov/pubs/EN-05-10133.pdf">Social Security Administration</a>,
            or you can call them at 1-800-722-1213. </p>
        </div>
        <div class="card card-body">
          <h3>Driver's License</h3>
          <p>Check in at the <a href="https://www.in.gov/bmv/licenses-permits-ids/home/">BMV</a> to see how you can get your license, pay fines, or check supsensions</p>
        </div>
        <div class="card card-body">
          <h3>Federally Bonded</h3>
          <p>The U.S. Department of Labor established <a href="https://bonds4jobs.com/">The Federal Bonding Program</a> in 1966 to provide Fidelity Bonds for “at-risk,” hard-to-place job seekers. The bonds cover the first six months of employment at no cost to the job applicant or the employer.</p>
        </div>
        <div class="card card-body">
          <h3>Apply for Medicaid</h3>
          <p><a href="https://www.healthcare.gov/medicaid-chip/">Medicaid </a> and the Children’s Health Insurance Program (CHIP) provide free or low-cost health coverage to millions of Americans, including some low-income people, families and children, pregnant women, the elderly, and people with disabilities.</p>
        </div>
        <div class="card card-body">
          <h3>Apply for Food Stamps</h3>
          <p>You must apply for <a href="https://www.fns.usda.gov/snap/recipient/eligibility">SNAP</a> in the state where you currently live. Because each state has a different application form and process, a member of your household must contact your state agency directly to apply.</p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <h1>Education</h1>
        <div class="card card-body">
          <p>The U.S. Department of Education has a "Take Charge of Your Future" guide you can download in 
            <a href="https://www2.ed.gov/about/offices/list/ovae/pi/AdultEd/take-charge-your-future.pdf">PDF</a>.
          </p>
        </div>
        <div class="card card-body">
          <p><a href="https://www.intelligent.com/education-and-career-guide-after-incarceration/">Intelligent</a> will help you achieve your dreams of going back to school, finishing high school as well as any other questions you may have.
          </p>
        </div>
        <div class="card card-body">
          <p><a href="https://centerforjustice.columbia.edu/justicethroughcode">Justice Through Code (JTC) </a>works to solve the crisis of mass incarceration by offering life-changing access to career-track opportunities in the technology industry to people impacted by the mass incarceration crisis. JTC seeks to tackle mass incarceration by addressing two of the most significant contributors to recidivism: a lack of job training and the subsequently high rates of unemployment for the formerly incarcerated. In response to these challenges, JTC aims to equip participants with the requisite skills to embark on a sustainable career in the tech industry through a semester-long coding intensive that includes interpersonal skills training and networking opportunities​. The goal is for JTC students to emerge as competitive applicants for jobs, internships, or future job/tech training​. </p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
        <h1>Housing Unit</h1>
        <div class="card card-body">
          <p><a href="https://transitionalhousing.org">Find Transitional and Sober Housing</a>  is a transitional housing is supportive housing that helps fight the homeless problem in todays society. Transitional housing is generally for a limited time period. Stays can be from two weeks to twenty four months.
            Transitional housing provides people with help after a crisis such as homelessness or domestic violence.
          </p>
        </div>
        <div class="card card-body">
          <p><a href="https://soberhousedirectory.com">The Sober House Directory</a> helps you find sober houses, structured group homes, and sober living. Their team of sober house owners, operators, consultants, clinicians, and providers understand sober living is challenging; their mission is to connect residents to sober houses so everyone can find their recovery community. 
          </p>
        </div>
        <div class="card card-body">
          <p><a href="https://shelterlistings.org">Shelter Listings</a> helps the needy find shelter and assistance. This nation is going through tough times and providing a helping hand can help make the world a better place.</p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="collapse multi-collapse" id="multiCollapseExample5">
        <h1>Chow Hall</h1>
        <div class="card card-body">
          <p>Food pantries and soup kitchens can be found on the <a href="https://www.feedingamerica.org/find-your-local-foodbank">Feeding America website</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="collapse multi-collapse" id="multiCollapseExample6">
        <h1>Infirmary</h1>
        <div class="card card-body">
          <p><a href="https://nafcclinics.org/find-clinic/">The National Association of Free & Charitiable Clinics</a> "NAFC", you can look for clinics by you zip code.
          </p>
          <p><a href="https://www.aa.org">Substance use treatment</a>
            or call the SAMHSA National Helpline at 1-800-662-4357.</p>
        </div>
      </div>
    </div>
    <div class="col mt-4 mb-4">
      <div class="collapse multi-collapse" id="multiCollapseExample7">
        <h1>Mental Health</h1>
        <div class="card card-body">
          <p>Mental Health Emergency call 988 for the Suicide and Crisis Lifeline. <i class="text-danger">Please call 911 if you are having an
            emergency</i>.</p>
          <section><i>Note: Community health clinics and dental clinics are cheaper or even free. You can use them even if
              you do not have insurance.
              Go to an emergency room if you have an emergency.</i></section>
        </div>
      </div>
    </div>
  </div>













  {% endblock %}