{% extends "base.html" %}
{% load static %}
{% block body %}

<style>
    body {background-color: blanchedalmond;}
    h3 {color: darkblue;}
    h6 {color: darkblue;}
    p {color: orangered;}

</style>
    
        <h1><b>Resources</b></h1>
        <h3>ReEntry Guides:</h3>
            <p>You can download an electronic version for free through <a href="https://reentryillinois.net">Here</a>,
            or you may call(217) 300-5150 or request by email @reentry@educationjustice.net. Or you can request by mail
            to Education Justice Project 1001 S Wright St. Champaign, IL 61820.
            </p>

        <h3>Social Security and Disability:</h3>
            <p>You can visit the Social Security Administration website <a href="https://ssa.gov">Here</a>,
            or you can call them at 1-800-722-1213. </p>

        <h3>Education:</h3>
            <p>The U.S. Department of Education has a "Take Charge of Your Future" guide you can download in pdf 
            <a href="ttps://www2.ed.gov/about/offices/list/ovae/pi/AdultEd/take-charge-your-future.pdf">Here</a>.</p>

        <h3>Housing:</h3>
                <p>Find Transitional and Sober Housing - this site allows you to choose your state to find help in your area. 
                    <a href="https://transitionalhousing.org">Here</a></p>
                <p>The Sober House Directory is another wonderful source <a href="https://soberhousedirectory.com">Here</a></p>
                <p>U.S Homeless Shelter Directory can be found <a href="https://www.homelessshelterdirectory.org">Here</a></p>
                <p>Shelter Listings.org is another great resource <a href="https://shelterlistings.org">Here</a></p></p>
        <h6><i>Note: All of the above allow you to search by State</i></h6>  
        
        <h3>Food:</h3>
                <p>Food pantries and soup kitchens can be found on the Feeding America.org website 
                    <a href="https://www.feedingamerica.org/find-your-local-foodbank">Here</a>.</p>
        
        <h3>Healthcare and dental care:</h3>
        <p>The National Association of Free & Charitiable Clinics "NAFC", you can look for clinics by you zip code.  
            <a href="https://nafcclinics.org/find-clinic/">Here</a>.</p>
        <p>Substance use treatment and help can be found at <a href="https://www.aa.org">Here</a>, 
            or call the SAMHSA National Helpline at 1-800-662-4357.</p>
        <p>Mental Health Emergency call 988 for the Suicide and Crisis Lifeline. Please call 911 if you are having an emergency.</p>
        <h6><i>Note: Community health clinics and dental clinics are cheaper or even free. You can use them even if you don’t have insurance. 
            Go to an emergency room if you have an emergency.</i></h6>
                









    
    {% endblock %}